<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="start-date" content="2024-05-10">
  <title>노긋노긋</title>
  <link href="/css/header.css?v=1.0" rel="stylesheet" type="text/css">
  <link href="/css/promiseList.css?v=1.0" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
    integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
    crossorigin="anonymous"></script>
  <script src="/js/promise.js"></script>
</head>

<body>
  <!-- Header Section -->
  <header class="header__container">
    <!-- Site H1 / display: none -->
    <h1 class="main-title">노긋노긋메인홈</h1>
    <div class="header__block">
      <a href="/Detail"> 마이페이지 </a>
      <a href="/logout"> 로그아웃 </a>
    </div>
    <div class="header_nav-main-block">
      <!-- 네비게이션에 해당하는 부분 -->
      <nav class="header__nav-block">
        <ul class="nav__list" role="navigation">
          <li class="nav__list-item">
            <a href="/main" aria-label="노긋노긋 홈페이지">
              <img src="/images/logo.png" width="50" alt="로고">
            </a>
          </li>
          <li class="nav__list-item">
            <a href="/filter"> 매칭 </a>
          </li>
          <li class="nav__list-item">
            <a href="/chat"> 채팅 </a>
          </li>
          <li class="nav__list-item">
            <a href="/promiseList"> 약속 </a>
          </li>
          <li class="nav__list-item">
            <a href="/postList/1"> 게시판 </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="side__nav-container">
      <span class="side__nav__list-item" style="margin: auto;">나의 약속</span>
    </div>
  </header>

  <main>
    <% if (promises.length===0) { %>
      <div class="promise__list">
        <h1 class="no__promises">잡은 약속이 존재하지 않습니다!</ㅗ>
      </div>

      <% } else { %>
        <ul class="promise__list">
          <% promises.forEach(promise=> { %>
            <li>
              <div class="list__container">
                <div onclick="showModal('<%= promise.promiseNum %>')">
                  <div class="promise__item">
                    <div class="promise__details">
                      <div class="info__box">
                        <div>
                          <span class="infoDetail">약속 제목: </span>
                          <span>
                            <%= promise.promiseTitle ? promise.promiseTitle : '제목 없음' %>
                          </span>
                        </div>
                        <% if (userType==='student' ) { %>
                          <div>
                            <span class="infoDetail">노인 이름: </span>
                            <span>
                              <%= promise.seniorName %>
                            </span>
                          </div>
                          <div>
                            <span class="infoDetail">보호자 이름: </span>
                            <span>
                              <%= promise.protectorName %>
                            </span>
                          </div>
                          <% } else if (userType==='senior' ) { %>
                            <div>
                              <span class="infoDetail">학생 이름: </span>
                              <span>
                                <%= promise.studentName %>
                              </span>
                            </div>
                            <% } %>
                      </div>
                      <span class="infoDetail">약속 날짜: </span>
                      <span>
                        <%= promise.date %>
                      </span>
                      <div class="info__box">
                        <div>
                          <span class="infoDetail">시작 시간: </span>
                          <span>
                            <%= promise.startTime %>
                          </span>
                        </div>
                        <div>
                          <span class="infoDetail">종료 시간: </span>
                          <span>
                            <%= promise.finishTime %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <% }); %>
        </ul>
        <% } %>

          <!--약속 상세보기 모달-->
          <!-- 약속 잡기 모달 -->
          <div id="promise-modal" class="promise__modal">
            <div class="modal-content">
              <span class="close" onclick="hideModal('promise-modal')">&times;</span>
              <h2 class="modal__title">약속 상세 정보</h2>
              <div id="modal-body">
                <!-- 약속 상세 정보가 여기에 동적으로 추가됩니다 -->
              </div>
              <div class="modal__footer">
                <button class="promise__button" type="button" onclick="hideModal('promise-modal')">닫기</button>
              </div>
            </div>
          </div>

  </main>


  <!-- Footer Section -->
  <footer class="footer__container">
    <section class="pages__container">
      <a href="#">이용약관</a>
      <a href="#">개인정보처리방침</a>
      <a href="#">커뮤니티이용규칙</a>
      <a href="#">문의하기</a>
    </section>
  </footer>
</body>

</html>